{% extends "inicio.html" %}



{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href={% static "css\perfil.css" %}>
{% endblock estilos %}




{% block perfil %}
<div class='perfil-grilla'>
    <div class='main-contenedor'>
        
        <h3 class='titulo-perfil'>{{usuario.username}}</h3>
        <div class='tarjeta-perfil'>

            <div class='contenedor-avatar'>
                <img class='perfil-avatar' src="{{avatar.url}}" alt="Foto de perfil">    
            </div>

            <div class='contenedor-datos'>
                
                <p>Usuario: {{usuario.username}}</p>
                {% if usuario.first_name %}
                <p>Nombre: {{usuario.first_name}}</p>
                {% else %}
                    <p>Nombre: Sin datos...</p>
                {% endif %}

                {% if usuario.last_name %}
                <p>Apellido: {{usuario.last_name}}</p>
                {% else %}
                <p>Apellido: Sin datos...</p>
                {% endif %}
            
                <p>Email: {{usuario.email}}</p>
            </div>
            
        </div>

        <hr>        

        <div class='post-section'>
            <h2>Reviews de {{usuario}}</h2>

        {% if posts %}
            {% for post in posts %}

                <p class='post-item'>
                <span class='post-titulo'>{{post.title}} </span>
                <span class='post-calificacion'>- Calificación: {{post.calificacion}}/10  </span>  
                <a class='post-detalles' href={% url 'other_users_post_detail' author=post.author pk=post.pk %}>Ver detalles</a></p>

            {% endfor %}
        
        {% else %}
            <p>El usuario no ha realizado ninguna review por el momento...</p>
        {% endif %}
       
        </div>
    </div>



  
</div>


{% endblock perfil %}






