{% extends "inicio.html" %}


{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href={% static "css\log-reg.css" %}>
{% endblock estilos %}


{% block loginmain %}

<div class='log-reg-card'>


<h3 class='log-reg-titulo'>Eliminar post</h3>
<h2>Detalle del post</h2>
<p>{{post_borrar.title}} - Autor {{post_borrar.author}} - {{post_borrar.fecha}}</p>
<form class='log-reg-form' action="" method='post'>
    {% csrf_token %}
    <table class='log-reg-form-table'>
        {{confirm.as_table}}
        
    </table>
    <button class='log-reg-btn' type="submit">Eliminar post</button>
</form>

<a href={% url 'miperfil' %}  style='text-decoration:none, margin-top: 15px, cursor:pointer, color: #FFF'>Volver</a>


</div>

{% endblock loginmain %}